{% extends 'base.html' %}
{% block content %}
    
     
      <div>
        <div class="container pt-4">
          <div class="row  p-0 mt-4">
            <div class="col-lg-4 mx-auto shadow p-0">
              <div class="alert alert-info">
                <h2>Add New TODO</h2>
          </div>
            <div class=" p-4">
             <form action ="/add-todo" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <hr>
                <input type="submit" value="ADD" class="btn btn-info">
              </form>
            </div>
          </div>

    
     
      <div class="col">
       
          {% if todos|length == 0%}

<div class="p-4">
  <br><br><br>
<div class="alert alert-info text-center">
  <p class="" style="font-size: 30px; ">NO TODOS</p>
</div>
<br>
<br>
</div>

          {% else %}
          <div class="border"  style ='background-color: rgba( 255, 255 , 255, 0.3);'></style> 

         <div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th>Priority</th>
                <th>Actions</th>

                

              </tr>
            </thead >
            
            <tbody >

              {% for todo in todos %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{todo.title}}</td>
                <td>
                  {% if todo.status == 'C'%}
                  Completed
                  {%else%}
                  Pending
                  {%endif%}
                </td>
                <td>{{todo.date}}</td>
              
                <td>{{todo.priority}}</td>
                <td>
                  
                  <a href="/delete-todo/{{todo.id}}" title="Delete" class="btn btn-danger">Delete</a>
                  {% if todo.status == 'P'%}
                  <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="btn btn-success">Completed</a>
                  {% else %}
                  <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="btn btn-info">Pending</a>
                  {% endif %}
                </td>
              </tr>
              {%endfor%}


            </tbody>
            <!--<tbody>
              
            {% for todo in todos %}
            <tr>
              <td> {{forloop.counter}} </td>
              <td> {{todo.title}} </td>
              <td> {{todo.status}} </td>
              <td> {{todo.priority}} </td>
              <td><a href="/delete-todo/{{todo.id}} " class="btn">🗑️</a>
              {% if todo.status == "C"%}
              <a href="change-status/{{todo.id}}/C"  title="Mark Completed" class="btn">✅</a>
              {% else %}
              <a href="change-status/{{todo.id}}/P"   title="Mark Pending" class="btn">🕒</a></td>
              {% endif %}

            </tr>
            {% endfor%}
              
            </tbody>-->
          </table>
         </div>
         {% endif %}
      </div>
    
    </div>
   
    </div>

  </div>
  </div>
  

  {% endblock %}
    

    